<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>New York Times Edition</p>
  </div>
</div>
<div class="container-fluid article-container">
  {{#if scrape}}
  {{#each scrape}}
  <div data-_id="{{_id}}" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/{{link}}">{{title}}</a>
        {{!-- <span> --}}
        <a class="btn btn-info notes" data-toggle="modal" data-target="#{{_id}}">Notes</a>
        <a class="btn btn-danger delete">Delete Article</a>
        {{!-- </span> --}}
        <div class="card-body">{{summary}}</div>
      </h3>
    </div>
  </div>
  {{/each}}
  {{else}}
  <div class='alert alert-warning text-center'>
    <h4>Uh Oh. Looks like you don't have any saved articles.</h4>
  </div>
  {{/if}}
</div>

<!-- Button trigger modal -->
{{#if scrape}}
{{#each scrape}}
<!-- Modal -->

<div class="modal fade" id="{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="addNoteInput"></label>
            <textarea class="form-control" id="addNoteInput" rows="3" placeholder="Add note here..."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id={{_id}} class="btn btn-primary add">Add Note</button>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{else}}
{{/if}}
